@import 'variables', 'how-card', 'thank-you-card';
/* 
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* Global defaults */
* { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

html:focus-within { scroll-behavior: smooth; }

body {
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  font-family: $ff-primary;
  min-height: 100vh;
}

.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: $white;
    background-color: $very-dark-blue;
    border-radius: 10%;
    width: 20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;
}
.in-active { display: none; }
.active { display: grid; }

.attribution { 
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 11px; 
    text-align: center; 
    white-space: nowrap;
    a { 
        color: hsl(228, 45%, 44%); 
    };
}