/* 
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
:root {
  --fs-300: 0.9375rem;
  --fs-500: 1.375rem;
  --fs-700: 2rem;

  --fw-400: 400;
  --fw-700: 700;
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}
/* Global defaults */
* { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

html:focus-within { scroll-behavior: smooth; }
  
body {
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  min-height: 100vh;
}
.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white);
    background-color: var(--very-dark-blue);
    border-radius: 10%;
    width: 22rem;
    height: 22rem;
}

.circle-container {
    background-color: var(--dark-blue);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}


.in-active {
    display: none;
}
.active {
    display: block;
}

.attribution { 
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}